:root {
    --vermelho: #e50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

body {
    background: var(--preto);
    font-family: 'Arial';
    color: #ffffff;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: initial;
}


header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
    
}

header nav a:hover {
    color: #ffffff;
}

.netflix-logo {
    width: 120px;
    margin-right: 30px;
}

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url(../assets/img/fundo-cobra\ kai.jpg);
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao-principal {
    margin-bottom: 40px;
    margin-top: 10px;
}

.titulo-principal {
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin-top: 5%;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 70%;
}

.box-serie {
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel-series {
    margin-top: 10px;
    cursor: pointer;
}

.carrossel-filmes {
    cursor: pointer;
}    

.carrossel-series h3 {
    margin-bottom: 8px;
    margin-left: 10px;
}

.carrossel-filmes h3 {
    margin-bottom: 8px;
    margin-left: 10px;
}

.flip-container {
    width: 300px;
    height: 500px;
    perspective: 1000px;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

.flip-container:hover .flipper{
    transform: rotateY(180deg);
}

.card-title {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 15px;
}

.card-text {
    margin-left: 20px;
    margin-top: 30px;
    margin-right: 20px;
}

.classificacao {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
.classificacao, .logo {
    flex:1;
    margin-left: .5em;
    width: 30px;
    height: 30px;
  }

  .classificacao h4 {
      margin-left: 10px;
  }

 .elenco {
     display: flex;
     align-items: center;
     margin-top: 30px;
     margin-left: 20px;
     margin-right: 20px;
 } 

 .genero {
     margin-left: 20px;
     margin-top: 30px;
     margin-right: 20px;
 }

 .duracao {
     margin-top: 30px;
     margin-left: 20px;   
 }

 



 